<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsyd.dao.MessageMapper" >

    <resultMap id="BaseResultMap" type="com.hsyd.model.Message" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="message_content" property="messageContent" jdbcType="VARCHAR" />
        <result column="message_time" property="messageTime" jdbcType="TIMESTAMP" />
        <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectTotal" resultType="java.lang.Integer">
        SELECT count(*)
        FROM a_message
    </select>

    <select id="selectMonitorInfo" parameterType="com.hsyd.utils.PageUtil" resultType="com.hsyd.model.Message">
        SELECT id, message_content AS messageContent, message_time AS messageTime,uuid
        FROM a_message
        ORDER BY message_time DESC
        limit #{start}, #{pageSize}
    </select>

    <!-- 查询信息详情 -->
    <select id="selectMessageInfo" parameterType="java.lang.String" resultType="com.hsyd.model.MessagePojo">
        SELECT a.uuid,a.message_content AS messageContent,b.ip,b.mac_address AS macAddress,b.terminal_model AS terminalModel,b.position,b.link_man AS linkMan,b.link_phone AS linkPhone
        FROM a_message a
        LEFT JOIN a_terminal b
        ON a.uuid = b.uuid
        WHERE a.uuid = #{uuid}
    </select>

    <delete id="deleteMessageByUuid" parameterType="java.lang.String">
        DELETE FROM a_message
        WHERE uuid = #{uuid}
    </delete>

</mapper>