<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsyd.dao.UserMapper" >

    <resultMap id="BaseResultMap" type="com.hsyd.model.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    </resultMap>

   <select id="selectUser" parameterType="java.lang.String" resultType="java.lang.String">
       SELECT password
       FROM a_user
       WHERE name = #{name}
   </select>

    <insert id="insertUser">
        INSERT INTO a_user (name, password, role_id) VALUES (#{name},#{password},#{roleId})
    </insert>


    <select id="selectTotal" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM a_user
    </select>

    <select id="selectUserList" parameterType="com.hsyd.utils.PageUtil" resultType="com.hsyd.model.User">
        SELECT *
        FROM a_user
        limit #{pageIndex}, #{pageSize}
    </select>

    <delete id="deleteUserByOne" parameterType="java.lang.Integer">
        DELETE FROM a_user
        WHERE id = #{id}
    </delete>

</mapper>